@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply inline-block px-5 py-3 rounded-lg
    focus:ring-offset-2 focus:ring focus:ring-opacity-50
    uppercase tracking-wider font-semibold text-sm;
  }
  .btn-primary {
    @apply active:bg-brand-dark 
    focus:ring-brand hover:bg-brand-light 
    sm:text-base 
    bg-brand text-white;
  }
  .btn-secondary {
    @apply active:bg-gray-600 
    focus:ring-gray-500 hover:bg-gray-400 
    sm:text-base bg-gray-300 
    text-gray-800;
  }
}
